<div>
  <!-- sidebar -->
  <div class="position-absolute"style="width: 15vw; min-width: 100px; height: 80%; display: flex; flex-direction: column;">
      <div class="border rounded-lg border-secondary m-2">
        <div class="font-weight-bold m-2">Players</div>
        <div class="m-2">
          Playname
        </div>
      </div>
      <button class="btn btn-success m-2">Start</button>
      <button class="btn btn-success m-2">Throw dice</button>
      <button  class="btn btn-danger m-2">Leave Game</button>
  </div>

  <!-- game board -->
  <div class="bg-light" style="width: 85vw; height: 10em; margin-left: 15vw; text-align: center;">
    <div class="mt-3" style="width: 80vh; height: 80vh; margin: auto">
      <div class="d-flex align-content-stretch flex-wrap">
        <div class="border flex-grow-1 flex-fill" style="width: 13.3vh;height: 13.3vh;">1</div>
        <div class="border flex-grow-1 flex-fill" style="width: 13.3vh;height: 13.3vh;">2</div>
        <div class="border flex-grow-1 flex-fill" style="width: 13.3vh;height: 13.3vh;">3</div>
        <div class="border flex-grow-1 flex-fill" style="width: 13.3vh;height: 13.3vh;">4</div>
      </div>
  </div>
  

    <!--<app-game-gameboard [gameboard]="game.gameboard"></app-game-gameboard>-->
  </div>
</div>
