<body>
	<!-- navbar -->
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="navbar-brand">
				<div class="container-sm" routerLink="/" routerLinkActive="active">Goosegame</div>
			</div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="navbar-item active text-light">
						<a clas="nav-link">Drinking Rules</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<main>
		<app-game></app-game>
		<!--<router-outlet></router-outlet>-->
	</main>
</body>
